# ========================
# GLOBAL (OS & IDEs)
# ========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
.env

# ========================
# BACKEND (Java / Spring)
# ========================
target/
*.class
*.jar
*.war
.settings/
.classpath
.project
bin/
logs/

# ========================
# FRONTEND (Node / React / Angular)
# ========================
node_modules/
dist/
build/
.npm
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*