target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/
*.iml
*.iws
*.ipr
out/

.classpath
.project
.settings/
.springBeans
bin/

.vscode/
*.code-workspace

*.log
*.pid
logs/

.DS_Store
Thumbs.db
Desktop.ini

.env
secret.properties